git+https://github.com/Adapter-Hub/adapter-transformers.git

-e .

pandas
plotly
awswrangler
black
ipykernel
nbformat
nbconvert
pytest
openpyxl
tabulate
streamlit
aws-mfa-v2
redis-py-cluster
webdriver-manager
torch
transformers
openTSNE
tqdm
pynndescent
keybert
hdbscan
colorcet
plotly-express
textwrap3
more_itertools
datasets
transformers
matplotlib
seaborn
setfit
cleanlab